.home-overlay {
  height: 100vh;
  background-image: url("/home-background.jpg");
  background-size: cover;
  background-position: center;
}

.overlay-mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.home-text {
  font-weight: bold;
  color: #fff;
  font-size: 9vw;
  letter-spacing: 3px;
}

.home-text-eng {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5vw;
}

.section-wrapper {
  background: #fafafa;
}

.description-logo {
  max-width: 100%;
  max-height: 100%;
}

.description-text {
  font-size: 14px;
}

.description-gap {
  height: 20px;
}

.description {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 576px) {
  .home-text {
    font-size: 7vw;
  }
  
  .home-text-eng {
    font-size: 2vw;
  }
}

@media (min-width: 768px) {
  .home-text {
    font-size: 5vw;
  }
  
  .home-text-eng {
    font-size: 1.8vw;
  }
}

@media (min-width: 992px) {
  .description-text {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .home-text {
    font-size: 4vw;
  }
  
  .home-text-eng {
    font-size: 1.4vw;
  }
}

